#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

compile '/css/*/' do
  # make all url()'s relative
  filter :relativize_paths, :type => :css
end

compile '/images/*/' do
  # don’t filter or layout
end

compile '/static/*/' do
end

compile '*' do
  # textile filter
  filter :redcloth
  layout 'default'
  # colorize html, xml, and java
  filter :colorize_syntax, :colorizers => { :java => :coderay, :html => :coderay, :xml => :coderay }, :coderay => { :line_numbers => :table }
  # make all href's and src's relative
  filter :relativize_paths, :type => :html
end

route '/css/*/' do
  item.identifier.chop + ".css"
end

route '/images/*/' do
  item.identifier.chop + "." + item[:extension]
end

route '/static/*' do
  # /static/javadoc/foo.html/ -> /javadoc/foo.html
  item.identifier[7..-2]
end

route '*' do
  if item[:permalink]
    item[:permalink]
  else
    item.identifier + "index.html"
  end
end

layout '*', :erb
