<html>
<head>
    <title>GWT-Wizard: <%= @item[:title] %></title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/coderay.css" type="text/css" media="screen" />
</head>
<body>
    <div id="nav">
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li>Tutorial</li>
            <ul>
              <li><a href="/tutorial/0-introduction.html">Introduction</a></li>
              <li><a href="/tutorial/1-getting-started.html">Getting Started</a></li>
              <li><a href="/tutorial/2-your-wizard-context.html">Your Wizard Context</a></li>
              <li><a href="/tutorial/3-the-welcome-page.html">The Welcome Page</li>
            </ul>
        </ul>
        
        <a href="http://github.com/BinaryMuse/gwt-wizard">Home on GitHub</a>
    </div>
    
    <div id="main">
        <h1><%= @item[:title] %>
        <%= yield %>
    </div>
</body>
</html>
